$papercolour: rgb(250, 250, 255);
:root {
//	--pen-colour: #005493;
//	--pen-colour: #505050;
	--pen-colour: #797979;
	--pink-colour: #ea839e;
	--blue-colour: #4590cf;
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url("/assets/fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url("/assets/fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Light.ttf") format('truetype' );
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url("/assets/fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Thin.ttf") format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url("/assets/fonts/YanoneKaffeesatzTTF/YanoneKaffeesatz-Bold.ttf") format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 100vw;
	max-width: $maxwidth;
	background: url("/assets/images/JustPlops.png") repeat-y,
		url("/assets/images/Dot.png") 3.7vw;
	font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', sans-serif;
	font-weight: lighter;
}

#headerimg > *{
//	content: url("/assets/images/Header.png");
	width: 100vw;
	max-width: 100 * $mw;
	position: absolute;
	top: 0;
}

#headline {
	display: block;
	margin: 0 0 0 2vw;
	top: 1vw;
	font-size: 1vw;
	// font-family: 'Helvetica Neue', sans-serif;
	font-weight: darker;
	letter-spacing: 4px;
	//text-transform: uppercase;
	padding: 10px;
	> a {
		display: inline-block;
		width: 900px;
		height: 10px;
		padding: 10px;
		position: relative;
		letter-spacing: 7px;
		padding: 10px;
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: "";
			position: relative;
			width: 100%;
			height: 10px;
			bottom: 0;
			left: 0;
			background-color:black;
			visibility: hidden;
			opacity: 0;
			transform: scaleX(0);
			//transition: all 0.2s ease-in-out 0s;
		}
		&:hover:before {
			height: 0px;
			opacity: 1;
			visibility: visible;
			transform: scaleX(1);
		}
	}
}

h1 {
	//letter-spacing: px;
	//text-decoration: none;
	color: var(--pen-colour);
	padding: 2px;
	margin: 0;
}

h1 {
	line-height: 2.5em;
//	font-family: "Yanone Kaffeesatz"; //"Noteworthy", "Bradley Hand", "Chalkboard", "Chalkduster", "Signpainter", "Marker Felt", "Helvetica Neue";
	font-weight: 300;
	font-size: 30px;	
}

#main {
	display:flex;
	flex-direction: row;
	margin-top: 16.8vw;
	width: 100%;
	min-height: 100vh;
	justify-content: space-between; // space-between;
	align-items: stretch;
	padding: 0px;
}
section {
	position: relative;
}
section + section::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: black;
	visibility: visible;
}
.sidebar {
	z-index: 10;
}
#leftsidebar {
	width: 15.107vw;
	max-width: 15.107 * $mw;
	background: url("/assets/images/Doodles.png") repeat-y,
				url("/assets/images/LeftLine.png") repeat-y right;
	background-size: 100% auto, 0.2vw 1290px;
}
#rightsidebar {
	width: 26vw;
	max-width: 26 * $mw;
	background: url("/assets/images/Doodles.png"),
				url("/assets/images/RightLine.png") repeat-y left;
	background-size: 100% auto, 0.2vw 1290px;
}

#contactbutton {
	background-color: #ffffffa0;
	background-image: url("/assets/images/ContactButton.png");
	background-size: cover;
	margin: 47vw 0px 0px 4.6vw;
	width: 21vw;
	max-width: 21 * $mw;
	height: 10.3vw;
	max-height: 10.3 * $mw;
	transform: rotateZ(-5deg);
	transform-origin: left;
}
#content {
	background-size: contain;
	background: linear-gradient($papercolour, $papercolour 90%, rgba($papercolour, 0));
	padding: 0 1vw 0 1vw;
	width: 54.8vw;
//	max-width: 54.8 * $mw;
//	font-family: 'Helvetica Neue', serif;
	font-size: 1.5em;
	color: var(--pen-colour);
	line-height:1.5em;
}
#article {
	font-size: 80%;
	color: darkslategray;
}
img + em {
	display: block;
}
#snippet {
// 	margin: 3vw 2vw 0 3vw;
// 	width: 80%;
// 	border: 3px dashed grey;
}
.blurb {
	line-height: 100%;
}
a {
	text-decoration: underline; 
	//{color: var(--blue-colour)}
	color: var(--pen-colour);
	&:hover {
	color: var(--blue-colour);
	}
	/*
	&:visited {
		color: black;
	}
	*/
	&.external > * {
		display: inline;
		// File:Icon External Link.png: anonymous at MediaWiki (or someone else, whose work MediaWiki used)
		// uploaded to Commons by Metalhead64derivative work MareklugNon-pixel version: TMg / GPL
		background: url('/assets/images/Icon_External_Link.svg') no-repeat;
		background-position: center left;
		padding-left: 12px;
	}
	&.chevron {
		text-decoration: none;
		color: black;
	}
}
ul.postlist {
	list-style-type: none;
	.post {
		font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
		margin: 2em 2em 2em 0;
	}
	* + *.post {
		padding-top: 2em;
		border-top: 1px dashed black;
	}
	h4 {
	font-family: "Helvetica Neue";
	letter-spacing: 0.04rem;
	}
	h4, p, li {
	margin: 0;
	}
	.blurb, .blurb > *{
		font-weight: bold;
		font-size: 90%;
	}
}
.date {
	font-family: Avenir, Verdana;
	font-size: 70%;
	margin: 0;
	width: 100%;
	text-align: right;
}

footer h6 {
	font-size: 80%;
	font-weight: 100;
}

img {
	width: 100%;
	&.narrowcenterimage {
		width: 50%;
		margin: auto auto;
		display: block;
	}
}
